#oquee {
  padding: 5rem 0;
}
.oqueeContainer {
  width: 100%;
}
.oqueeContainer > h1,
.oqueeContainer > h2 {
  text-align: center;
}
.oqueeContainer h1:first-child span {
  color: var(--Verde);
}
.oqueeContainer > h2 {
  font-weight: 300;
  padding: 0 11rem;
  margin-top: 1rem;
}
.oqueeContainer > h2 span {
  font-weight: 700;
  color: var(--Verde);
}
.oqueeContainer > p {
  margin-top: 1rem;
  text-align: center;
  padding: 0 7rem;
}
.oqueeContainer > h1.title {
  max-width: 25rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.oqueeContainer > h1.title span {
  color: var(--Verde);
}
.oqueTexto.flex {
  width: 100%;
}
.oqueTexto.flex picture img {
  display: block;
}
.oqueTexto.flex:nth-last-child(4) .oqueRight {
  padding-top: 4rem;
}
.oqueTexto.flex:nth-last-child(4) .oqueRight p {
  padding-right: 10rem;
}

.oqueTexto.flex.second {
  flex-direction: row-reverse;
  margin-top: -6rem;
  position: relative;
  margin-left: -10rem;
}
.oqueTexto.flex.second .oqueRight {
  padding-top: 8rem;
}
.oqueTexto.flex.second .oqueRight p {
  text-align: right;
  padding-left: 9rem;
  transform: translateX(4rem);
}
.oqueTexto.flex.second .oqueRight h3 {
  padding-top: 4rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  transform: translateX(3rem);
  font-weight: 400;
  padding-left: 2rem;
  padding-right: 2rem;
}

.oqueTexto.flex.second .oqueRight h3:last-child {
  padding-top: 1rem;
}

.oqueeContainer > h1:nth-last-child(2) {
  max-width: 50rem;
  margin-top: 2rem;
  font-weight: 500;
}

.oqueeContainer > a.btn {
  background: var(--Verde);
  color: #fefefe;
  margin-top: 2rem;
}
@media (max-width: 480px) {
  .oqueeContainer {
    max-width: 28rem;
  }
  .oqueeContainer h1:first-child {
    padding: 0 4rem;
  }
  .oqueeContainer > h2 {
    padding: unset;
  }
  .oqueeContainer > p {
    padding: 0 3rem;
  }
  .oqueTexto.flex picture img {
    /* width: 100%; */
    display: none !important;
  }
  .oqueTexto.flex:nth-last-child(4) .oqueRight p {
    padding: unset;
  }
  .oqueTexto.flex.second {
    margin: unset;
  }
  .oqueTexto.flex.second .oqueRight p {
    padding-left: unset;
    text-align: left;
  }
  .oqueTexto.flex.second .oqueRight p,
  .oqueTexto.flex.second .oqueRight h3 {
    transform: unset;
  }
  .oqueTexto.flex.second .oqueRight {
    padding-top: 1rem;
  }
  .oqueTexto.flex:nth-last-child(4) .oqueRight {
    padding-top: unset;
  }
  .oqueTexto.flex.second .oqueRight h3:nth-child(2) {
    border: 1px dashed #0e0e0e;
    padding-top: unset;
    margin: 2rem 0;
  }
  .oqueTexto.flex.second .oqueRight h3:last-child {
    padding-top: unset;
  }
}
